#search {
    margin-left: 20px;
    padding-top: 20px;
}

#sidebar {
    min-height: 100%;
}

.content-wrapper {
    font-size: 18px;
}

.inner p{
    font-size: 20px;
}

.brand-link {
    margin-left: 8px;
}

.brand-link span{
    margin-left: 10px;
    font-size: 16px;
}

.dropdown-menu {
    font-size: ;
}